<ng-container class="example-container">

    <div fxLayout="column wrap" fxLayoutAlign="start start" class="flex-display">
      <div class="sidenav button-list" fxLayout="column wrap" fxLayoutAlign="start start">
        <div *ngIf="displayFlag">
          <h2 class="left-padding">Filters</h2>
          <div>
            <h3 class="center-align">
              Launch Year
              <hr>
            </h3>
          </div>
          <ng-container *ngFor="let year of launchYears">
            <button mat-raised-button color="primary" class="padding-10 button-display" (click)="filterDataByYear(year)" 
            [ngClass]="{'selectedButton': selectedYear === year}">
              {{year}}
            </button>
          </ng-container>
  
          <div>
            <h3 class="center-align">
              Successful Launch
              <hr>
            </h3>
            <div>
              <button mat-raised-button color="primary" class="padding-10 button-display" (click)="filterDataByFlag('launch_success', true)">
                True
              </button>
              <button mat-raised-button color="primary" class="padding-10 button-display" (click)="filterDataByFlag('launch_success', false)">
                False
              </button>
            </div>
          </div>
          <div>
            <h3 class="center-align">
              Successful Landing
              <hr>
            </h3>
            <div>
              <button mat-raised-button color="primary" class="padding-10 button-display" (click)="filterDataByFlag('launch_landing', true)">
                True
              </button>
              <button mat-raised-button color="primary" class="padding-10 button-display" (click)="filterDataByFlag('launch_landing', false)">
                False
              </button>
            </div>
          </div>
  
        </div>
      </div>
  
      <div fxLayout="column wrap" fxLayoutAlign="start start" class="content">
        <div class="report-list">
          <ng-container *ngFor="let item of filterData">
            <mat-card class="card-display">
              <ng-container mat-card-image>
                <img src="{{item.links?.mission_patch}}" width="80%" height="50%" title="{{item.mission_name}}"
                  style="background: lightgrey;">
              </ng-container>
              <div class="content-justify">
                <h4>
                  <mat-card-content>
                    <div>
                      {{item.mission_name}} # {{item.flight_number}}
                    </div>
                    <div>
                      Mission Ids:
                      <span *ngFor="let id of item.mission_id">
                        <li>{{id}}</li>
                      </span>
                    </div>
                    <div>
                      Launch Year: {{item.launch_year}}
                    </div>
                    <div>
                      Successful Launch: {{item.launch_success}}
                    </div>
                    <div>
                      Successful Landing: {{item.launch_landing}}
                    </div>
                  </mat-card-content>
                </h4>
              </div>
            </mat-card>
          </ng-container>
  
        </div>
      </div>
    </div>
  </ng-container>