.full-width {
    width: 100%;
}
.padding-10 {
    margin: 10px;
}
.right-side {
    display: flex;
    flex-direction: row-reverse;
}

.orange-color{
    color: orange;
}

.center-footer {
    display: flex;
    justify-content: center;
}